.gallery-img{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    min-width: 300px;
    box-shadow: 1px 2px 9px 0px rgba(45, 45, 45, 0.42);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px
}
.url{
    background: #0c7a31;
    color: #fff !important;
    border-radius: 50px;
    padding: 5px 20px;
    font-family: arial;
    font-weight: bold;
    margin: 5px 5px
}